<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find second_project)/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find second_project)/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find second_project)/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find second_project)/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find second_project)/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find second_project)/global_planner_params.yaml" command="load" />
    </node>
</launch>