<launch>
  <!-- Configurazione del planner locale -->
  <node pkg="base_local_planner" type="base_local_planner_node" name="base_local_planner">
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
    <rosparam command="load" file="$(find second_project)/cfg/base_local_planner.yaml" />
  </node>

  <!-- Configurazione del planner globale -->
  <node pkg="global_planner" type="global_planner_node" name="global_planner">
    <rosparam command="load" file="$(find second_project)/cfg/global_planner.yaml" />
  </node>

  <!-- Configurazione di AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">
    <rosparam command="load" file="$(find second_project)/cfg/amcl.yaml" />
  </node>

  <!-- Configurazione di move_base -->
  <node pkg="move_base" type="move_base" name="move_base">
    <rosparam command="load" file="$(find second_project)/cfg/move_base.yaml" />
  </node>
</launch>